[mcu host]
serial: /run/klipper_host_mcu.sock
restart_method: command

[temperature_fan sbc_fan]
pin: host:gpio211
kick_start_time: 0.8
sensor_type: temperature_host
control: pid
min_temp: 0
max_temp: 100
# pid_kp: 1
# pid_ki: 0.5
# pid_kd: 2
pid_kp: 15
pid_ki: 2
pid_kd: 0.1
min_speed: 0
min_power: 0.4
target_temp: 55